<div id="container">
    <h1 id="main-heading">Registrations webapp</h1>
    {{!-- Get a google font family for this heading --}}
    <h4 id="glossary">Glossary</h4>
    <ol class="glossary-list">
        <li>Cape Town : CA XXX XXX, CA XXXXXX, CA XXX-XXX</li>
        <li>Stellenbosch : CL XXX XXX, CL XXXXXX, CL XXX-XXX</li>
        <li>Paarl : CJ XXX XXX, CJ XXXXXX, CJ XXX-XXX</li>
        <li>Bellville : CY XXX XXX, CY XXXXXX, CY XXX-XXX</li>
        <li>Beaufort West : CJ XXX XXX, CJ XXXXXX, CJ XXX-XXX</li>
        <li>Cooperation/Business : CK XXXX</li>
    </ol>
        
    <h3 class="sub-head">Add a registration below</h3>

    <p id="error-message">{{error}}</p>
    
    <form action="/add_reg" method="POST" id="reg-inputs">
        <label for="reg">Registration Number : </label>
        <input type="text" value="" name="reg">
        <button type="submit" id="add-btn">Add</button>
    </form>

    <p id="success-message">{{success}}</p>
    <div id="reg-display-div">
        {{#each regs}}
            <div id="reg-display">
                <p class="reg-plate">{{registration}}</p>
            </div>
        {{/each}}
    </div>

    <h3 class="sub-head">Filter registrations by selecting a town below</h3>
 

    {{!-- look for a way to get these cities from DB & us a loop for this --}}
    <form action="/town_regs" method="POST" id="town-regs">
        <div class="selection-options">
            <input type="radio" name="town" value="all" class="radio-input"> 
            <label>All Towns</label>
        </div>
        <div class="selection-options">
            {{#each towns}}
                <input type="radio" name="town" value={{this.town_name}} class="radio-input"> 
                <label>{{this.town_name}}</label>
            {{/each}}

        </div>

       
        <button type="submit" id="show-btn">Show</button>
    </form>

    <hr />

    <form action="/reset" method="GET" onsubmit="resetRegs()" id="reset-form">
        <button type="submit" id="reset-btn">Reset</button>
    </form>
</div>


<script>

    //Report deleted data
    function resetRegs(){
        alert('You have just deleted all the records in the registrations table');
    }

    //reference DOM elements
    let errorMessage = document.querySelector('#error-message');
    let successMessage = document.querySelector('#success-message');

    //hide the error message after 3 seconds
    if(errorMessage.textContent){
       setTimeout(function(){
            errorMessage.style.display = 'none';
            errorMessage.textContent = '';
       }, 3000)
    } 
    
    //hide the success message after 3 seconds
    if(successMessage.textContent){
        setTimeout(function(){
            successMessage.style.display = 'none';
            successMessage.textContent = '';
        }, 3000)
    }
</script>